/*------------------------------------------BOOSTRAP HOME -------------------------------*/

.fakeimg {
    height: 200px;
    background: #aaa;
  }

  .jumbotron {
    background-color: black;
    height: 48px;
    display: flex;
    width: -webkit-fill-available;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  

  h1{
    font-family: Showcard Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-align-last: left;
    
    color: #FDFDFD;
  }

  .ghostHome {
    height: 58px;
  }

  .container{
      background-color: #000000db; /* le da transparencia y asi no tengo que utilizar el opacity */
      padding-top: 20px;
  }

  .navbar.navbar-expand-sm.bg-dark.navbar-dark{
    display: flex;
    background: #D8CEF3;
    border: 1px solid #000000;
    box-sizing: border-box;
        width: -webkit-fill-available;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        height: 40px;

  }